.SearchModal {
  display: flex;
  background-color: #363636;
  border-bottom: 1px solid #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  z-index: 101;
  top: 55px;
}

.SearchModal span:nth-child(1) {
  display: flex;
  color: #fff;
  position: absolute;
  left: 20px;
  font-size: 15px;
}

.SearchModal span:nth-child(2) {
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 5px;
}


.SearchModal input {
  width: 50%;
  margin-right: 10px;
  font-size: 15px;
  border: 2px solid #fff;
  padding: 3px;
}

/*////// Media Queries //////*/

/* Mobile */
@media only screen and (min-width: 768) {

}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {
  
}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {

}

/* Desktop */
@media(min-width: 1366px) {

}