
.DailyDetails {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #6398d4, #2074d5, #1a63b7);
    color: #fff;
    margin: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    height: auto;
    padding: 10px;
}

.DailyDetails ul {
  list-style-type: none;
  position: relative;
  top: 0;
  left:0;
  padding: 5px;
}

.DailyDetails ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  margin-top: 15px;
  padding: 5px;
}

.daily-details-data {
  display: flex;
  justify-content: flex-end;  
}



