.DailyDetails {

}


.daily-details-container {
    display: flex;
    flex-direction: column;
    background-color: #363636;
    color: #fff;
    margin: 20px 10px 10px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    height: auto;
}

.daily-details-container h3 {
    color: #fff;
    padding: 15px;
    background: linear-gradient(135deg, #5d7fd0  , #0748b0, #14446c);
    border-radius: 10px 10px 0px 0px;
}


.DailyDetails ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.DailyDetails ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  margin-top: 15px;
  padding: 5px;
}

.DailyDetails ul li img {
  background: linear-gradient(135deg, #5d7fd0  , #0748b0, #14446c);
  width: 40px;
  height: 40px;border-radius: 50%;
}


.daily-details-data {
  display: flex;
  justify-content: flex-end;  
}

/*////// Media Queries //////*/

/* Mobile */
@media only screen and (max-width: 767px) {

}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {
  .DailyDetails {
    padding: 0px 10% 0px 10%;
  }
  .daily-details-container {

  }
  .daily-details-container h3 {
    font-size: 2.5em;
  }
  .daily-details-container ul li {
    font-size: 2em;
  }
}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {
  .DailyDetails {
    padding: 0px 20% 0px 20%;
  }
  .daily-details-container {

  }
  .daily-details-container h3 {
    font-size: 2.5em;
  }
  .daily-details-container ul li {
    font-size: 2em;
  }
}

/* Desktop */
@media(min-width: 1366px) {
  .DailyDetails {
    padding: 0px 20% 0px 20%;
  }
  .daily-details-container {

  }
  .daily-details-container h3 {
    font-size: 3.5em;
  }
  .daily-details-container ul li {
    font-size: 3em;
  }
}



