.FiveDay {

}

.FiveDay h3 {
    color: #fff;
    padding: 15px;
    background: linear-gradient(135deg, #5d7fd0  , #0748b0, #14446c);
    border-radius: 10px 10px 0px 0px;
}

.five-day-container {
    color: #fff;
    box-shadow: 3px 3px 3px #000;
    background-color: #363636;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    height: auto;
}



.five-day-container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px;
}

.five-day-container ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.five-day-container h3 {
    font-size: 2;
}

.five-day-container h5 {
    font-size: 1em;
}

.five-day-container span {
    font-size: 1em;
}

.five-day-container span:nth-child(4) {
    margin-bottom: 10px;
}


.five-day-container ul li img {
    width: 100%;
    height: auto;
}

/*////// Media Queries //////*/

/* Mobile */
@media only screen and (max-width: 767px) {

}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {
  .FiveDay {
      padding: 0px 10% 0px 10%;
      margin-top: 40px;
  }
  .five-day-container {
      
  }
  .five-day-container h3 {
      font-size: 2.5em;
  }

  .five-day-container h5 {
      font-size: 2em;
  } 
  .five-day-container ul li span {
      font-size: 2em;
  }
}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {
   .FiveDay {
    padding: 0px 20% 0px 20%;
  }
  .five-day-container {
      
  }
  .five-day-container h3 {
      font-size: 2.5em;
  }

  .five-day-container h5 {
      font-size: 2em;
  } 
  .five-day-container ul li span {
      font-size: 2em;
  }
}

/* Desktop */
@media(min-width: 1366px) {
  .FiveDay {
      padding: 0px 20% 0px 20%;
  }
  .five-day-container {
      
  }
  .five-day-container h3 {
      font-size: 3.5em;
  }

  .five-day-container h5 {
      font-size: 3em;
  } 
  .five-day-container ul li span {
      font-size: 3em;
  }
}
