.FiveDay {

}

.FiveDay h3 {
    color: #fff;
    padding: 15px;
    background: linear-gradient(135deg, #5d7fd0  , #0748b0, #14446c);
    border-radius: 10px 10px 0px 0px;
}

.five-day-container {
    color: #fff;
    box-shadow: 3px 3px 3px black;
    background-color: #363636;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    margin: 30px 10px 10px 10px;
    height: auto;
}



.five-day-container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px;
}

.five-day-container ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.five-day-container ul li img {
    width: 70px;
    height: auto;
}