.CityViewSlider {
  box-shadow: 0px 0px 40px 20px #000;
}

.slide {
  background: url('../../../public/images/banner-image.jpg');
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}


.react-carousel-responsive__controlNext {
  display: none;
}

.react-carousel-responsive__controlPrev {
  display: none;
}

/*////// Media Queries //////*/

/* Mobile */
@media screen and (min-width: 767px) {

}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {

}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {

}

/* Desktop */
@media(min-width: 1366px) {

}