.CurrentWeather {
    position: relative;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 95%;
}

.current-weather-container {
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    height: auto;
    color: #fff;
    box-shadow: 3px 3px 3px #000;
    background-color: hsla(0, 0%, 17%, .8);
}
.current-weather-container h4:nth-child(1) {
    box-sizing: border-box;
    background-color: #0748b0;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    padding: 10px;
}
.current-weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp-desc {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.temp-desc h2 {
    font-size: 2.5em;
}

.temp-desc h4:nth-child(2) {
    font-size: 1em;
}

.temp-desc h4:nth-child(3) {
    font-size: 1em;
}

.current-weather-info img {
    width: auto;
    height: 100%;
}

.current-weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 30%;
    height: auto;
}

/*////// Media Queries //////*/

/* Mobile */
@media only screen and (min-width: 450px) {

}

@media(max-width: 600px) and (min-width: 450px) {
    .CurrentWeather {
        width: 70%;
    }
}

@media(max-width: 768px) and (min-width: 600px){
   .CurrentWeather {
       width: 70%;
   }
}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {
    .CurrentWeather {
        width: 40%;
        top: 11%
    }
}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {
    .CurrentWeather {
        width: 30%;
        top: 20%
    }
    
}

/* Desktop */
@media(min-width: 1366px) {
    .CurrentWeather {
        width: 25%;
        top: 20%
    }
    
}


