.CurrentWeather {
    margin: 100px 10px 0px 10px;
    display: flex;
    justify-content: center;
}

.current-weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    color: #fff;
    background-color: #0748b0;
}

.current-weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

.temp-desc {
    display: flex;
    flex-direction: column;
}

.temp-desc h2 {
    font-size: 3em;
}

.temp-desc h4:nth-child(2) {
    font-size: 1.4em;
}

.temp-desc h4:nth-child(3) {
    margin-top: 5px;
    font-size: 1em;
}

.current-weather-info img {
    width: auto;
    height: 100%;
}

.current-weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 30%;
    height: auto;
}

/*////// Media Queries //////*/

/* Mobile */
@media only screen and (min-width: 450px) {

}

@media(max-width: 600px) and (min-width: 450px) {
    .CurrentWeather {
        width: 70%;
    }
}

@media(max-width: 768px) and (min-width: 600px){
   .CurrentWeather {
       width: 70%;
   }
}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {
    .current-weather-container {
        width: 500px;
    }
}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {
    /* .CurrentWeather {
        width: 30%;
        top: 10%
    }
    .current-weather-container {
        padding: 5px;
    }
     */
}

/* Desktop */
@media(min-width: 1366px) {
    /* .CurrentWeather {
        width: 25%;
        top: 10%
    }
    .current-weather-container {
        padding: 10px;
    } */
    
}


