.ArticleModal {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 95%;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 50px #000;
    background: linear-gradient(135deg, #5d7fd0, #5d7fd0, #0748b0, #14446c);
}

.ArticleModal span {
    position: relative;
    top: 0px;
    right: 5px;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 15px;
}

.article-content {
    background-color: #363636;
    height: auto;
}

.article-content div {
    display: flex;
    justify-content: space-between;
}

.article-content div:nth-child(3) {
   display: flex;
   flex-direction: column;
   padding: 10px
}

.article-content img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #fff;
    margin: 0px 0px 5px 0px;
}

.article-content p {
    margin: 10px 5px 15px 5px;
}

.article-content h5 {
    padding: 5px;
}

.article-content a {
    color: #fff;
}
