.News {

}

.news-container {
    justify-content: center;
    align-items: center;
    background-color: #363636;
    color: #fff;
    margin: 20px 10px 10px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    height: auto;
}

.news-container h3 {
    color: #fff;
    padding: 15px;
    background: linear-gradient(135deg, #5d7fd0  , #0748b0, #14446c);
    border-radius: 10px 10px 0px 0px;
}

.news-data {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: auto;
}

.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 90%;
    margin-top: 10px;
    overflow: hidden;
}

.article-container div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

.alternate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-container:nth-child(4) ~ * {
    display: none;
  }

.news-data img {
    border-radius: 5px;
    width: 100%;
    height: 50%;
}

.image-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 7px;
}

.image-footer a {
    color: #000;
    text-decoration: none;
}

.image-footer a p {
    font-size: .4rem;
}

.article-container h4:nth-child(3) {
    margin-top: 10px;
}

.news-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*////// Media Queries //////*/

/* Mobile */
@media only screen and (max-width: 767px) {
  
}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {
  .News {
    padding: 0px 3px 0px 3px;
  }
  
  .news-container {
    
  }
  .news-container h3 {
    font-size: 2em;
  }
  .article-container {
      border: 1px solid #fff;
      margin: 10px;
      width: 25%;
  }
  .article-container:nth-child(4) ~ * {
    display: block;
  }
  .news-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .news-data div:nth-child(1) {
      height: 100%;
  }
  .news-data h4 {
    font-size: .5em;
  }
  .news-data img {
    width: 100%;
    height: 150px;
  }
  
}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {
  .News {
    padding: 0px 20% 0px 20%;
  }
  .news-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .news-container h3 {
    font-size: 2.5em;
  }
  .news-data {

  }
  .news-data h4 {
    font-size: 2em;
  }
  .news-data img {
    border: 1px solid red;
    width: 100px;
    height: 100px;
  }
}

/* Desktop */
@media(min-width: 1366px) {
  .News {
    padding: 0px 20% 0px 20%;
  }
  .news-container {

  }
  .news-container h3 {
      font-size: 3.5em;
  }
  .news-data {

  }
  .news-data h4 {
      font-size: 3em;
  }
  .news-data img {

  }
}
