* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #14446c;
}

html {
    scroll-behavior: smooth;
}

.App {
  
}

.app-container {

}

/*///// Navbar /////*/
.app-container nav {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    background: linear-gradient(180deg, #5d7fd0  , #0748b0, #14446c);
    box-shadow: 0px 0px 2px 2px #000;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 15px;
}

nav ul li {
    color: #fff;
    font-size: 1.1em;
}


nav ul li:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:nth-child(3) a {
    color: #fff;
    text-decoration: none;
    transition: 20s;
}


nav ul li:nth-child(3) span {
    margin-right: 5px;
}


.location-info {
    box-shadow: 0px 0px 10px 1px inset #000;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    width: 150px;
    padding: 3px;
}

/* ////////////////////////////// */

/*///// Search Box /////*/
.search-container {
    display: flex;
    background-color: #363636;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    z-index: 101;
    top: 55px;
}

.search-container span:nth-child(1) {
    display: flex;
    color: #fff;
    position: absolute;
    left: 20px;
    font-size: 15px;
}

.search-container span:nth-child(2) {
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 5px;
}


.search-container input {
    width: 50%;
    margin-right: 10px;
    font-size: 15px;
    border: 2px solid #fff;
    padding: 3px;
}
/* /////////////////////////////////// */

/*//// Cities List Drop Down ////*/
.loading-cities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.search-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 75px;
    padding: 5px;

}

.city-list-container {
    position: fixed;
    top: 100px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    background-color: #363636;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px #000;
}

.city-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: .5px solid #fff;
    color: #fff;
    padding: 15px;
    font-size: 0.9em;
    font-weight: 500;
}

.city-list:last-child {
    border-radius: 0px 0px 10px 10px;
}

.city-list:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #5d7fd0 , #0748b0, #14446c);
    transition: .5s;
}

.city-list span:nth-child(1) {
    margin-right: 10px;
}

.city-list span:nth-child(2) {
    margin-right: 5px;
}
/* ///////////////////////////////////// */

/*///// Banner /////*/
.image-banner {
    background: url('../public/images/banner-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    box-shadow: 0px 0px 80px 100px #000, 0px 0px 10px 5px inset #000 ;
}
/* ////////////////////////////// */

/*////// Main App Loading //////*/
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #6398d4, #2074d5, #1a63b7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.main-loader-container h2 {
    color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}

.main-loader-container svg {
    padding: 20px; 
}





