* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #14446c;
}
.App {
   height: 100vh;
   width: 100%;
   border-radius: 10px;
}

.weather-dashboard {

}

.image-banner {
    background: url('../public/images/banner-image-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    padding: 10px;
    box-shadow: 0px 0px 30px 50px #152324, 0px 0px 5px 5px inset #152324 ;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #6398d4, #2074d5, #1a63b7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.main-loader-container h2 {
    color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}

.main-loader-container svg {
    padding: 20px; 
}





