
nav {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    background: linear-gradient(180deg, #5d7fd0 , #0748b0, #14446c);
    box-shadow: 0 0 2px 2px #000;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 15px;
}

nav ul li {
    color: #fff;
    font-size: 1.1em;
}
nav ul li:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
nav ul li:nth-child(3) a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
nav ul li:nth-child(3) span {
    margin-right: 5px;
}

.location-info {
    margin: 0 20px;
    box-shadow: 0 0 10px 1px inset #000;
    border-radius: 5px;
    padding: 5px 20px;
}

.location-info-mobile {
    box-shadow: 0 0 10px 1px inset #000;
    border-radius: 5px;
    margin: 0 10px;
    width: 150px;
    padding: 3px;
}
/*/
///// Media Queries //////*/
/*/
///// Media Queries //////*/

/* Mobile */
@media screen and (max-width: 767px) {
    .location-info {
        display: none;
    }
    .location-info-mobile {
        display: block;
    }

}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {

    .Nav {
        font-size: 1.5em;
    }
    .Nav ul li:nth-child(2) {
        width: 70%;
    }
    .location-info-mobile {
        display: none;
    }
    .Nav ul li a {
        font-size: 1.0em;
    }

}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {
    .location-info-mobile {
        display: none;
    }
}

/* Desktop */
@media(min-width: 1366px) {
    .location-info-mobile {
        display: none;
    }
}
