
nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background: linear-gradient(180deg, #5d7fd0 , #0748b0, #14446c);
    box-shadow: 0 0 3px 3px #000;
}

nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    padding: 15px;
}

nav ul li {
    color: #fff;
    font-size: 1.1em;
}

nav ul li:nth-child(1) {
  font-size: 1.2em;
}

nav ul li:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.location-info {
    margin: 0 20px;
    box-shadow: 0 0 10px 1px inset #000;
    border-radius: 5px;
    padding: 5px 20px;
}

.location-info-mobile {
    box-shadow: 0 0 10px 1px inset #000;
    border-radius: 5px;
    margin: 0 10px;
    width: 150px;
    padding: 3px;
}

.settings-container {
    position: fixed;
    top: 57px;
    left: 0px;
    width: 300px;
    height: 60px;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 3px 3px 3px #000;
    z-index: 999;
    background-color: #363636;
    color: #fff;
    display: flex;
    align-items: center;
    animation: settingsSlideOpen 300ms ease-in;
}

@keyframes settingsSlideOpen {
    0% {
        transform: translateY(-65px);
    }
    100% {
        transform: translateY(0);
    }
}

.settings-container label {
    font-size: 1.3em;
}
.settings-container div {
    display: flex;
    margin-left: 10px;
    width: 300px;
}

.settings-container div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px;
}

.settings-container span {
  margin-left: 5px;
  font-size: 1.3em;
}

.settings-container span:nth-child(4) {
    margin-right: 10px;
    font-size: 1em;
}

.settings-container div:nth-child(2) {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   padding: 10px;
}

.settings-container img {
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
}

/*///// Media Queries //////*/

/* Mobile */
@media screen and (max-width: 767px) {
    .location-info {
        display: none;
    }
    .location-info-mobile {
        display: block;
    }

}

/* Tablet */
@media(max-width: 1024px) and (min-width: 768px) {

    .Nav {
        font-size: 1.0em;
    }
    .Nav ul li:nth-child(2) {
        width: 70%;
    }
    .location-info-mobile {
        display: none;
    }
    .Nav ul li a {
        font-size: 1.0em;
    }

}

/* laptop */
@media(max-width: 1366px) and (min-width: 1024px) {
    .location-info-mobile {
        display: none;
    }
}

/* Desktop */
@media(min-width: 1366px) {
    .location-info-mobile {
        display: none;
    }
}
